:root {
  --main-font: "Share Tech";
  --main-font-color: #e4fde1;
  --main-color: #456990;
  --highlight-color: #f45b69;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  background-image: linear-gradient(180deg, #114b5f, #028090);
  /* background-color: #f4f4f4; */
  font-family: "Share Tech";
  /* animation: backgroundAnimation 10s ease-in-out infinite; */
}
