:root {
  --main-font: "Share Tech";
  --main-font-color: #e4fde1;
  --main-color: #456990;
  --highlight-color: #f45b69;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  background-image: linear-gradient(180deg, #114b5f, #028090);
  font-family: "Share Tech";
  /* animation: backgroundAnimation 10s ease-in-out infinite; */
}

@keyframes backgroundAnimation {
  0% {
    /* background-image: linear-gradient(0deg, #028090, #114b5f); */
    background-color: #028090;
  }
  25% {
    background-color: #114b5f;

    /* background-image: linear-gradient(180deg, #114b5f, #028090); */
  }
  50% {
    background-color: #028090;
    /* background-image: linear-gradient(0deg, #028090, #114b5f); */
  }
  75% {
    background-color: #114b5f;
    /* background-image: linear-gradient(270deg, #114b5f, #028090); */
  }
  100% {
    background-color: #028090;
    /* background-image: linear-gradient(360deg, #028090, #114b5f); */
  }
}
